@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

.center2 {
  position: absolute;
  width: 400px;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.center2 h1 {
  font-size: 2em;
  border-left: 5px solid rgb(36, 218, 51);
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.center2 .inputbox2 {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.center2 .inputbox2 input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center2 .inputbox2:last-child {
  margin-bottom: 0;
}

.center2 .inputbox2 span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center2 .inputbox2 input:focus ~ span,
.center2 .inputbox2 input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.center2 .inputbox2 [type="submit"] {
  width: 50%;
  background: rgb(36, 218, 51);
  color: #fff;
  border: #fff;
}

.center2 .inputbox2:hover [type="submit"] {
  background: linear-gradient(45deg, rgb(40, 192, 73), rgb(36, 218, 51));
}


