@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

.center2 {
  position: absolute;
  background: #fff;
  width: 22vw;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  display: grid;
  box-shadow: inset 0 0 0 2px #e3e8ee;
}

.center2 h1 {
  font-size: 250%;
  border-left: 5px solid rgb(36, 218, 51);
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.center2 .inputbox2 {
  position: relative;
  width: 80%;
  height: 50px;
  margin-bottom: 50px;
}

.center2 .inputbox2 input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center2 .inputbox2:last-child {
  margin-bottom: 0;
}

.center2 .inputbox2 span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

@media screen and (max-width: 412px) {
  .center,
  input[type="submit"] {
    width: 80%;
  }
}

.center2 .inputbox2 input:focus ~ span,
.center2 .inputbox2 input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.center2 .inputbox2 [type="submit"] {
  background: rgb(36, 218, 51);
  color: #fff;
  border: #fff;
}

button {
  font-size: 30px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff;
}

.center2 .inputbox3:hover [type="submit"] {
  background: linear-gradient(45deg, rgb(14, 63, 197), dodgerblue);
}

button a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.center2 .inputbox2:hover [type="submit"] {
  background: linear-gradient(45deg, rgb(40, 192, 73), rgb(36, 218, 51));
}
