.modalContainer {
  width: 500px;
  height: 400px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 15px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

#btn {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: #917d5c;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
#btn:hover {
  background: linear-gradient(0, 1, 2, 3);
}
#btn:active {
  position: relative;
}
.btn2 {
  font-size: 20px;
  cursor: pointer;
}

.btnTD {
  font-family: "Catamaran", sans-serif;
  color: black;
  cursor: pointer;
  width: 110%;
  display: block;
  border: 1px solid #fff;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.btnTD:hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: inherit;
}
.btnTD:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
